{% extends "base.html" %}
{% load static %}
{% block body %}
    

<main id="main" >
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs_courses" data-aos="fade-in" style="background-image: url(/static/img/dash.jpg); ">
      <div class="head_courses">
        <h2 style="font-size: 50px; margin-top: 50px;"> لوحتي التعليمية</h2>
        <p></p>
      </div>
      
    
    
  </div>
  <!-- End Breadcrumbs -->

      <!--courses section-->      
      <section id="popular-courses" class="courses" data-aos="zoom-in">
        <div class="container aos-init aos-animate" data-aos="fade-up">
          <nav aria-label="breadcrumb">
          
            <ol class="breadcrumb" style="background-color:#17a2b8;" >
  
              
              <li class="breadcrumb-item"><a href="index.html" style="color: rgb(255, 255, 255);">الرئيسية</a></li>
              
              <li class="breadcrumb-item active" aria-current="page" style="color: rgb(34, 34, 34);">لوحتي التعليمية</li>
              
              
            </ol>

           
           <div class="btn-group" data-aos="zoom-in">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >
                <li class="fa fa-th-large"></li> التصنيفات
              </button>
              
              <div class="dropdown-menu">
                <a class="dropdown-item" href="programming.html">البرمجة</a>
                <a class="dropdown-item" href="design.html">التصميم</a>
                <a class="dropdown-item" href="lang.html">اللغات</a>
                <a class="dropdown-item" href="network.html">شبكات الحاسوب</a>
                <a class="dropdown-item" href="development.html">تطوير الذات</a>
                <a class="dropdown-item" href="system.html">انظمة التشغيل</a>
                <a class="dropdown-item" href="database.html">قواعد بيانات</a>
                <a class="dropdown-item" href="security.html">امن معلومات</a>
              </div>
              
            </div>
           
            
          </nav>

         
            
            
         

        </br>
        
  
          <div class="section-title" data-aos="zoom-in">
            <h2> التعليم المستمر  </h2>
            <p>لوحتي التعليمية</p>
          </div>
          
          <ul class="nav nav-tabs nav_category" data-aos="zoom-in">
            
            <li class="nav-item">
              <a class="nav-link" href="#">الكورسات الحالية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">الكورسات المكتملة</a>
            </li>
            
            
           
          
            
          </ul>

        </br>

         
        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            
         

            <!--course item-->
          
          {% for x in  myCuorses %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item wedgit">
                <img src="{{x.course.image.url}}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>{{x.course.category.name}}</h4>
                  
                  </div>

                  <h3><a href="course_details.html">{{x.course.name}}</a></h3></br>
                  
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  
                </div>
              </div>
            </div> 
            <!-- End Course Item-->

          {% endfor %}
              

        
      </section>
      <!-- end courses section--> 

    
    
  </main>
  <!-- End #main -->
  

  
{% endblock body %}