{% load static %}

<!doctype html>
<html >
    <head>
        
        <meta charset="utf-8" />
        <title>كاريري للتعليم المستمر</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <!-- <link rel="shortcut icon" href="{% static 'Login/vendor/images/favicon.ico' %}"> -->
    
        <!-- Bootstrap Css -->
        <link href="{% static 'Login/vendor/bootstrap/css/bootstrap-rtl.min.css'%}" rel="stylesheet">
        <!-- Icons Css -->
        <link   rel="stylesheet" href="{% static  'Login/vendor/css/icons.min.css' %}" rel="stylesheet"  >
        <!-- App Css-->
        <link   rel="stylesheet" href="{% static 'Login/vendor/css/app.min.css' %}" id="app-style" rel="stylesheet" >
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

           
            body {
                font-family:"Tajawal";
            }
        </style>
    
    </head>

    <body>

        <div class="account-pages my-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                            <h4 class="text-uppercase">Sorry, page not found</h4>
                            <div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href="index.html">العودة مرة اخري</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-xl-6">
                        <div>
                            <img src="/static/Login/vendor/images/error-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'Login/vendor/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'Login/vendor/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'Login/vendor/libs/node-waves/waves.min.js' %}"></script>
        
        <!-- jQuery and JS bundle w/ Popper.js -->

        <!-- apexcharts -->
        <script src="{% static 'Login/vendor/libs/apexcharts/apexcharts.min.js' %}"></script>

        <script src="{% static  'Login/vendor/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'Login/vendor/js/app.js' %}"></script>

    </body>


</html>
