{% extends "base.html" %}
{% load static %}
{% block body %}
    
    

    <main id="main" >
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/profile.png);" >
        <div class="container">
  
          <h2 style="font-size: 50px; margin-top: 50px;">الصفحةالشخصية</h2>
          <p></p>
        </div>
      </div><!-- End Breadcrumbs -->
      
      <section>
        <div class="container" data-aos="fade-up">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3"> 
                      <button class="btn btn-outline-primary">تعديل الصورة</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">الاسم بالكامل</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      احمد السعيد المهدي عمر
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">البريد الالكتروني</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      mm@yahoo.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">الدولة </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      مصر 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">الجنس </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      ذكر
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">رقم الهاتف</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      054504451
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">كلمة المرور</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        ********
                      </div>
                    </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="#">تعديل  </a>
                      
                    </div>
                  </div>
                </div>
              </div>
    
    
    
    
            </div>
          </div>
    
        </div>
      </section>
      
      
  
  
  
  
    </main><!-- End #main -->
  
  <!-- End #main -->
  
{% endblock body %}