{% extends "base.html" %}
{% load static %}
{% block body %}
    
    

    <main id="main" >
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/profile.png);" >
        <div class="container">
  
          <h2 style="font-size: 50px; margin-top: 50px;">الصفحةالشخصية</h2>
          <p></p>
        </div>
      </div><!-- End Breadcrumbs -->
      
      <section>
        <div class="container" data-aos="fade-up">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{student.image.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3"> 
                      
                      {% if student.user.first_name %}
                      <button class="btn btn-primary"> {{student.user.first_name}} {{student.user.last_name}}</button> 
                      {% else %}
                      <button class="btn btn-primary">طالب</button>
                      {% endif %}
                        
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> الاسم الاول</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.user.first_name}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> الاسم الاخير</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.user.last_name}}
                    </div>
                  </div>
                  <hr>  
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">البريد الالكتروني</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">الدولة </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.country}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">الجنس </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.gender}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">رقم الهاتف</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{student.phone}}
                    </div>
                  </div>
                  <hr>
                  
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info "  href="{% url 'Auth:student_edit' %}">تعديل  </a>
                      
                    </div>
                  </div>
                </div>
              </div>
    
    
    
    
            </div>
          </div>
    
        </div>
      </section>
      
      
  
  
  
  
    </main><!-- End #main -->
  
  <!-- End #main -->
  
{% endblock body %}