{% extends "base.html" %}
{% load static %}
{% block body %}
    
    
<main id="main" >
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/trainers/main.png);" >
    <div class="container">
      
      <h2 style="font-size: 50px; margin-top: 50px;">المدربون</h2>
      <p></p>
    </div>
  </div><!-- End Breadcrumbs -->

   <!--section Trainers-->
   <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>المدربون</h2>
        <p>المدربون المحترفون لدينا
        </p>
      </div>

      
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        {% for x in all  %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member shadow">
              <img src="{{x.image.url}}"  style="width: 253px; height:253px" class="img-fluid" alt="">
              <div class="member-content">
                <h4> {{x.name}}</h4>
                <span>{{x.job}}</span>
                
                <div class="social">
                  <a href="{{x.twitter}}" target="_blank"><i class="icofont-twitter"></i></a>
                  <a href="{{x.facebook}}" target="_blank"><i class="icofont-facebook"></i></a>
                  <a href="{{x.instagram}}" target="_blank"><i class="icofont-instagram"></i></a>
                  <a href="{{x.linked_in}}" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
       
      
      
    </div>
  </section>
  <!-- End Trainers Section -->


  
  
</main>
<!-- End #main -->
  
{% endblock body %}