

{% load static %}

<!doctype html>
<html lang="ar" dir="rtl">
    <head>
        
        <meta charset="utf-8" />
        <title>كاريري للتعليم المستمر</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <!-- <link rel="shortcut icon" href="{% static 'Login/vendor/images/favicon.ico' %}"> -->
    
        <!-- Bootstrap Css -->
        <link href="{% static 'Login/vendor/bootstrap/css/bootstrap-rtl.min.css'%}" rel="stylesheet">
        <!-- Icons Css -->
        <link   rel="stylesheet" href="{% static  'Login/vendor/css/icons.min.css' %}" rel="stylesheet"  >
        <!-- App Css-->
        <link   rel="stylesheet" href="{% static 'Login/vendor/css/app.min.css' %}" id="app-style" rel="stylesheet" >
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

            html {direction:ltr;}
            body {
                font-family:"Tajawal";
            }
        </style>
    
    </head>
    <body class="auth-body-bg" style="background-image: url(/static/img/login.jpg);" dir="rtl" >
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 style="color: #00A6AA;">مرحبا بك مرة اخري !</h5>
                                            <p style="color:#00A6AA"> كاريري للتعليم المستمر   </p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="/static/Login/vendor/images/profile-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                              <form action="" method="post">
                                {% csrf_token %}
                                {% if form.email.errors %}
                                  {{ form.email.errors }}
                                {% endif %}
                                    <p>{{ form.email }}</p>
                                  <input type="submit" class="btn btn-default btn-lg" value="Reset password">
                                </form>
                                <div class="p-2">
                                    
                                    <div class="mt-5 text-center">
                            
                                        <div>
                                            <p>ليس لديك حساب ؟<a href="{% url 'accounts:signup' %}" class="font-weight-medium "  style="color: #00A6AA;" > انشاء حساب الأن</a> </p>
                                            <p>© Design <i class="mdi mdi-heart text-danger"></i> by Ahmed Elmahdy</p>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="{% static 'Login/vendor/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'Login/vendor/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
        <script src="{% static 'Login/vendor/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'Login/vendor/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'Login/vendor/libs/node-waves/waves.min.js' %}"></script>
        
        <!-- jQuery and JS bundle w/ Popper.js -->

        <!-- apexcharts -->
        <script src="{% static 'Login/vendor/libs/apexcharts/apexcharts.min.js' %}"></script>

        <script src="{% static  'Login/vendor/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'Login/vendor/js/app.js' %}"></script>
    </body>
</html>


<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">الرئيسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">التعليم المستمر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Trainers:AllTrainer' %}">المدربين</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Teams:Team' %}">الفريق</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Teams:About' %}">من نحن</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">تواصل معنا</a>
      </li>
      
    </ul>
  </nav> -->
