{% extends "base.html" %}
{%load static%}
{% block body %}
 
<main id="main" >
  <!-- ======= Breadcrumbs ======= -->
  
  <div class="breadcrumbs_courses" data-aos="fade-in" style="background-image: url({{da.detail_image.url}}); ">
      <div class="head_courses">
        <h2 style="font-size: 50px; margin-top: 50px;">{{da.name}}</h2>
        <p></p>
      </div>
      
    
    
  </div>
  <!-- End Breadcrumbs -->



  <section id="course-details" class="course-details">
    
    <div class="container aos-init aos-animate" data-aos="fade-up">
      
        <nav aria-label="breadcrumb">
        
          <ol class="breadcrumb" style="background-color:#17a2b8;" >

            
            <li class="breadcrumb-item"><a href="{% url 'Auth:Home' %}" style="color: rgb(255, 255, 255);">الرئيسية</a></li>
            <li class="breadcrumb-item"><a href="{% url 'Courses:category_list' %}" style="color: rgb(255, 255, 255);">التعليم المستمر</a></li>
            <li class="breadcrumb-item"><a href="{{ request.META.HTTP_REFERER }}" style="color: rgb(255, 255, 255);">{{da.category}}</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: rgb(34, 34, 34);">{{da.name}}</li>
            
            
          </ol>

         
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >
              <li class="fa fa-th-large"></li> التصنيفات
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'Courses:programming_list' %}">البرمجة</a>
              <a class="dropdown-item" href="{% url 'Courses:design_list' %}">التصميم</a>
              <a class="dropdown-item" href="{% url 'Courses:lang_list' %}">اللغات</a>
              <a class="dropdown-item" href="{% url 'Courses:network_list' %}">شبكات الحاسوب</a>
              <a class="dropdown-item" href="{% url 'Courses:development_list' %}">تطوير الذات</a>
              <a class="dropdown-item" href="{% url 'Courses:system_list' %}">انظمة التشغيل</a>
              <a class="dropdown-item" href="{% url 'Courses:database_list' %}">قواعد بيانات</a>
              <a class="dropdown-item" href="{% url 'Courses:secuirty_list' %}">امن معلومات</a>
            </div>
          </div>
          
        </nav>

      </br>
      

      
        
      

      <div class="row">
        <div class="col-lg-8">
          <img src="{{da.detail_image.url}}" class="img-fluid wedgit" alt="">
          <h3>الوصف</h3>
          <p style="text-align: justify;">
            {{da.description}}
          </p>
        </div>
        <div class="col-lg-4">

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6> <li class="fas fa-user"></li> المدرب</h6>
            <p><a href="#">{{da.trainer}}</a></p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6><i class="fas fa-dollar-sign"></i> سعر الكورس</h6>
            <p>{{da.price}}</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6><i class="fas fa-map-marker"></i> عدد الطلاب</h6>
            <p>{{user_count.count}} طالب</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6> <i class="fas fa-clock"></i> الجهد المطلوب</h6>
            <p>{{da.duration}} ساعة</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6> <i class="fas fa-sticky-note"></i> عدد الدروس</h6>
            <p>{{videos.count}} درس</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center wedgit">
            <h6> <i class="fas fa-star"></i> التقييم </h6>
            <p>
              <i class="fa fa-star" style="color:#F7CA18;"></i>
              <i class="fa fa-star" style="color:#F7CA18;"></i>
              <i class="fa fa-star" style="color:#F7CA18;"></i>
              <i class="fa fa-star" style="color:#F7CA18;"></i>
              <i class="fa fa-star" style="color:#F7CA18;"></i>      
          
            </p>

       
          </div>

          
          {% if user.is_authenticated %}
          {% if user_course %}
          <a href="{%url 'Courses:course_contante' da.id %}">
            <button type="button" class="btn btn-info">عرض المحتوي</button>
           </a> 
        
           {% else %}
           <a href="{%url 'Courses:course_enroll' da.id %}">
            <button type="button" class="btn btn-info">انضم الأن</button>
           </a> 
           {% endif %}

          {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">
              <button type="button" class="btn btn-info"> تسجيل الدخول للانضمام</button>
            </a>
          {% endif %}
            
          
              

            
        </div>
      </div>

    </div>
  </section>

  <section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <h3 style="margin-bottom: 50px;"><i class="fas fa-bookmark" style="color: rgb(88, 88, 88);"></i> سوف تتعلم في هذا المسار</h3>
    
    

      <div class="row">
        <div class="col-lg-3">
          
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              
    
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">{{da.title1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">{{da.title2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">{{da.title3}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">{{da.title4}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-5">{{da.title5}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{da.title1}}</h3>
                  <p class="font-italic">{{da.p1}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{da.image1.url}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{da.title2}}</h3>
                  <p class="font-italic">{{da.p2}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{da.image2.url}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{da.title3}}</h3>
                  <p class="font-italic">{{da.p3}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{da.image3.url}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{da.title4}}</h3>
                  <p class="font-italic">{{da.p4}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{da.image4.url}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3> {{da.title5}} </h3>
                  <p class="font-italic">{{da.p5}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{{da.image5.url}}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <h3 style="margin-bottom: 50px;"><i class="fas fa-flag" style="color: rgb(88, 88, 88);"></i> برعاية</h3>
    
    

      <div class="row">
        <div class="col-lg-3">
          <div class="card bg-white text-white" style="border-style: unset;">
            <img src="{{da.sponsers.logo.url}}" class="card-img" alt="..." width="200px" height="200px">
            </div>
            
          </div>
        </div>
    </div>
  </section>
  
</main>
<!-- End #main -->

  
{% endblock body %}