{% extends "base.html" %}
{% load static %}

{% block body %}


<main id="main" >
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/about2.png);">
      <div class="container">
        
        <h2 style="font-size: 50px; margin-top: 50px;">من نحن</h2>
        <p>منصة عربية توفر كورسات مجانية عالية الجودة في مختلف المجالات والتخصصات تسعى إلى رفع مستوى التعليم الإلكتروني في الوطن العربي كما توفر فرصة لاصحاب الكفاءات والخبرات والمدرسين للوصول !إلى جمهور أكبر</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        

        <div class="row">
          <div  class="col-md-6">
               <h3 class="wedgit">
                 نبذة عن كاريري</h3>
                <p>
                  تعمل كاريري بالشراكة مع edX وهي إحدى المنصات التعليمية 
    الإلكترونية الأولى على مستوى العالم والتابعة لجامعة هارفرد 
    الأميركية و معهد ماساتشوستس للتكنولوجيا. توفر كاريري فرصة 
    الإلتحاق بمساقات متنوعة وعلى كافة المستويات لجميع الناطقين 
    باللغة العربية وبشكل مجاني. كما يمكن للمتعلمين الحصول على 
    شهادات إتمام المساقات بشكل إلكتروني. ومن الجدير بالذكر أن 
    كاريري تسعى أيضا إلى إبراز وتحفيز الخبراء العرب من كافة 
    المجالات لإثراء المحتوى التعليمي العربي على الانترنت ومشاركة 
    خبراتهم ومعرفتهم مع المتعلمين العرب من خلال تطوير مساقات 
    وطرحها عبر المنصة.
                </p>
          </div>

          <div id="image"class="col-md-6">
            <img src="/static/img/map.jpg" >
          </div>
        </div>


        <div id="about2" class="row " >

          <div  class="col-md-6">
            
               <h3 class="wedgit">
               رسالتنا</h3>
                <p>
                  بيت خبرة دولي يبني الجدارات القيادية والمؤسسية، ويرتقي بالقدرات البشرية من خلال فريق مؤهل، ونظم معتمدة وتدريب متخصص وتقنيات متقدمة وفق الأصول المهنية المعتبرة
                </p>
          </div>


          <div class="col-md-6" id="col2">
         
               <h3 class="wedgit">
                 رؤيتنا</h3>
          
                <p>
                  الريادة في صناعة التدريب والتطوير المؤسسي

                </p>
          </div>

        </div>


        <div id="about2" class="row " >

          <div class="col">
            
               <h3 class="wedgit">
               قيمنا</h3>
               </br></br>
               <div align="center" class="values">
                <img src="/static/img/our-values.png" width="50%" >
              </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    
    
  </main><!-- End #main -->
    
{% endblock body %}
    