{% extends "base.html" %}
{% load static %}
{% block body %}
<main id="main" >
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/aboutus.png);">
      <div class="container">
        
        <h2 style="font-size: 50px; margin-top: 50px;">المسارت التعليمة </h2>
        <p></p>
      </div>
      
    </div><!-- End Breadcrumbs -->
    
    
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

         <nav aria-label="breadcrumb">
          
            <ol class="breadcrumb" style="background-color:#17a2b8;" >
  
              
              <li class="breadcrumb-item"><a href="index.html" style="color: rgb(255, 255, 255);">الرئيسية</a></li>
              
              <li class="breadcrumb-item active" aria-current="page" style="color: rgb(34, 34, 34);">مسارات التعليم</li>
              
              
            </ol>

           
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >
                <li class="fa fa-th-large"></li> التصنيفات
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="programming.html">البرمجة</a>
                <a class="dropdown-item" href="design.html">التصميم</a>
                <a class="dropdown-item" href="lang.html">اللغات</a>
                <a class="dropdown-item" href="network.html">شبكات الحاسوب</a>
                <a class="dropdown-item" href="development.html">تطوير الذات</a>
                <a class="dropdown-item" href="system.html">انظمة التشغيل</a>
                <a class="dropdown-item" href="database.html">قواعد بيانات</a>
                <a class="dropdown-item" href="security.html">امن معلومات</a>
              </div>
            </div>
            
          </nav>

        </br>

        <div class="section-title">
          <h2>المسارات التعليمية</h2>
          <p>جميع المسارات التعليمية
          </p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card"   style="border-radius: 5px; " >
             <a href="{% url 'Courses:programming_list' %}"><img class="card-img-top" src=" /static/img/programming.png " alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card"  style="border-radius: 5px; " >
             <a href="{% url 'Courses:design_list' %}"><img class="card-img-top" src="/static/img/design.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card"   style="border-radius: 5px; " >
             <a href="{% url 'Courses:lang_list' %}"><img class="card-img-top" src="/static/img/lang.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card" style="border-radius: 5px; " >
             <a href="{% url 'Courses:network_list' %}"><img class="card-img-top" src="/static/img/network.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card" style="border-radius: 5px; " >
             <a href="{% url 'Courses:development_list' %}"><img class="card-img-top" src="/static/img/develop_self.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card" style="border-radius: 5px; " >
             <a href="{% url 'Courses:system_list' %}"><img class="card-img-top" src="/static/img/system.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category" >
            <div class="card" style="border-radius: 5px; " >
             <a href="{% url 'Courses:database_list' %}"><img class="card-img-top" src="/static/img/database1.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 category">
            <div class="card" style="border-radius: 5px; " >
             <a href="{% url 'Courses:secuirty_list' %}"><img class="card-img-top" src="/static/img/secret.png" alt="Card image cap" style="border-radius: 5px; "> </a> 
            
            </div>
          </div>

          
        </div>
       
      
      </div>
      
      
      

    </section>
    
    
  </main>
  <!-- End #main -->
{% endblock %}
    