{% extends "base.html" %}
{% load static %}
{% block body %}
<main id="main" >
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/programming_head.png);">
    <div class="container">
      
      <h2 style="font-size: 50px; margin-top: 50px;">مسارات البرمجة</h2>
      <p></p>
    </div>
  </div><!-- End Breadcrumbs -->


    <!--courses section-->      
    <section id="popular-courses" class="courses" data-aos="zoom-in">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <nav aria-label="breadcrumb">
        
          <ol class="breadcrumb" style="background-color:#17a2b8;" >

            
            <li class="breadcrumb-item"><a href="index.html" style="color: rgb(255, 255, 255);">الرئيسية</a></li>
            <li class="breadcrumb-item"><a href="courses.html" style="color: rgb(255, 255, 255);">المسارت التعليمة</a></li>
            
            <li class="breadcrumb-item active" aria-current="page" style="color: rgb(34, 34, 34);">البرمجة </li>
            
            
          </ol>

         
         <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >
              <li class="fa fa-th-large"></li> التصنيفات
            </button>
            
            <div class="dropdown-menu">
              <a class="dropdown-item" href="programming.html">البرمجة</a>
              <a class="dropdown-item" href="design.html">التصميم</a>
              <a class="dropdown-item" href="lang.html">اللغات</a>
              <a class="dropdown-item" href="network.html">شبكات الحاسوب</a>
              <a class="dropdown-item" href="development.html">تطوير الذات</a>
              <a class="dropdown-item" href="system.html">انظمة التشغيل</a>
              <a class="dropdown-item" href="database.html">قواعد بيانات</a>
              <a class="dropdown-item" href="security.html">امن معلومات</a>
            </div>
            
          </div>
         
          
        </nav>

       
          
          
       

      </br>
      

        <div class="section-title">
          <h2> مسارات التعلم </h2>
          <p>مسارات البرمجة</p>
        </div>
        
        <ul class="nav nav-tabs nav_category">
          <li class="nav-item">
            <a class="nav-link active" href="#">الاحدث</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">الاقدم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">الاعلي تقيماً</a>
          </li>

        
          
        </ul>

      </br>

       
      <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          
        <!--course item-->
        {% for x in course  %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="course-item wedgit">
            <img src="{{x.image.url}}" class="img-fluid" alt="..." style="width:253px; height:171px">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>{{x.category}}</h4>
                <p class="price">مجاناً</p>
              </div>

              <h3><a href="{%url 'Courses:course_details' x.id %}">{{x.name}}</a></h3>
             
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="{{x.trainer.image.url}}" class="img-fluid" alt="" style="width: 50px; height:50px;margin-left:3px ">
                  <span>{{x.trainer}}</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>50
                  &nbsp;&nbsp;
                  <i class="bx bx-heart"></i>65
                </div>
              </div>
            </div>
          </div>
        </div> 
        <!-- End Course Item-->
        {% endfor %}
       

     

      </div>

      

  
       
      </div>
  
    </section>
    <!-- end courses section--> 

  
  
</main>
{% endblock %}
    