{% extends "base.html" %}
{% load static %}
{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="background-image: url(/static/img/contact.png);">
      <div class="container">
        <h2>تواصل معنا</h2>
        <p>اذا كان لديك استفسار او تواجة مشكلة يمكنك التواصل معنا من خلال الاتي</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <h5><i class="fas fa-map-marker-alt 7x" style="color: rgb(19, 102, 149); font-size:30px"></i>&nbsp; الموقع : </h5>
                <p> معهد مصر العالي للتجارة والحاسبات بالمنصورة</p>
              </div>

              <div class="email">
                
                <h5><i class="fas fa-envelope 7x" style="color: rgb(19, 102, 149); font-size:30px"></i>&nbsp; البريد الالكتروني : </h5>
                <p>Carary_Elearning@Gmail.Com</p>
              </div>

              <div class="phone">
                <h5><i class="fas fa-phone 7x" style="color: rgb(19, 102, 149); font-size:30px"></i>&nbsp; الهاتف : </h5>
                <p>0201011729312</p>
                
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="#" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder=" اسمك" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="البريد الالكتروني الخاص بك" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="الرسالة" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">ارسال</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>
  <!-- End #main -->

{% endblock %}

 